## Dictionaries
- [Dictionaries Geeks fo Geeks](https://www.geeksforgeeks.org/python-dictionary/)
- key : value pairs
- Dictionaries är **mutable**, dvs man kan addera, ta bort, eller ändra key:value pairs.
- **values** kan vara alla datatyper och kan vara duplicates
- sedan Python 3.7 är dicts **ordered**
- **keys** måsta vara unika och måste vara **immutable** (eftersom dicts använder "hashing" internt). Därför kan keys endast vara av datatyperna **strings**, **numbers** eller **tuples**.
- **Hashing** används i databaser för indexering, samt mappar keys till values. [Hashing Geek for Geeks](https://www.geeksforgeeks.org/introduction-to-hashing-2/)  
- dict-methods är: clear(), copy(), fromkeys(), get(), items(), keys(), pop(), popitem(), setdefault(), values(), update(). [Länk Geek for Geeks dict methods](https://www.geeksforgeeks.org/python-dictionary-methods/)
- [länk geek for geeks dict comprehension](https://www.geeksforgeeks.org/python-dictionary-comprehension/)

#### Skapa en dictionary:

In [25]:
my_dict = {'name': 'Jack', 'age': 26}
my_dict2 = {'name': 'Daniel', 'age': 47}
my_dict3 = {'name': 'John', 'age': 33}

#### dict()
- man kan också använda dict-funtionen för att skapa en dict:
- även dict comprehension, se längre ner

Hämta ett ***value*** ur en dict, baserat på dess ***key***

In [26]:
my_dict['name']

'Jack'

#### get
- Alternativt använder man get-metoden:

In [27]:
my_dict.get('name')

'Jack'

Addera ett key:value pair till en dict:

In [28]:
my_dict['profession'] = 'developer'
my_dict

{'name': 'Jack', 'age': 26, 'profession': 'developer'}

#### del
Ta bort ett key:value pair:

In [29]:
del my_dict['profession']
my_dict

{'name': 'Jack', 'age': 26}

#### pop
- används för att både ta bort och returnera value

In [30]:
värde = my_dict.pop('age')
print(värde)
print(my_dict)

26
{'name': 'Jack'}

Adderar mer data till my_dict

In [31]:
my_dict['age'] = 26
my_dict['profession'] = 'developer'
my_dict['city'] = 'Stockholm'
print(my_dict)

{'name': 'Jack', 'age': 26, 'profession': 'developer', 'city': 'Stockholm'}

#### popitem
- tar bort och returnerar det sista key:value pair

In [32]:
key, val = my_dict.popitem()
print(f"key: {key}, value: {val}")

key: city, value: Stockholm

In [33]:
key, val = my_dict.popitem()
print(f"key: {key}, value: {val}")

key: profession, value: developer

#### clear
- man kan helt tömma en dict med clear

In [35]:
my_dict.clear()
my_dict

{}

#### Iterera igenom en dictionary
- man kan iterera över en dictionary med nedan metoder:
##### keys()
- keys() metoden används för att iterera över keys
##### values()
- values() metoden används för att iterera över vlaues()
##### items()
- items() metoden används för att iterera över key-value pairs.

In [37]:
my_dict = {'name': 'Jack', 'age': 26, 'profession': 'developer', 'city': 'Stockholm', 'parents': ['John', 'Anna']}

# iterera över keys:
for key in my_dict:
    print(key)

name
age
profession
city
parents

In [39]:
# iterera över values:
for value in my_dict.values():
    print(value)

Jack
26
developer
Stockholm
['John', 'Anna']

In [41]:
# iterera över key:value pairs:
for key, value in my_dict.items():
    print(f"{key}: {value}")

name: Jack
age: 26
profession: developer
city: Stockholm
parents: ['John', 'Anna']

#### Nested dictionaries:

In [53]:
daniel = {'name': 'Daniel',
        'age': 26,
        'profession': 'developer',
        'city': 'Stockholm',
        'parents': {'father': {'name': 'John', 'age': 55}, 'mother': {'name': 'Anna', 'age': 50}},
        'contacts': {'phone': '123456789', 'email': 'dacl@rocketmail.com'},
        'hobbies:': ['programming', 'hiking', 'skiing']}
jack

{'name': 'Jack',
 'age': 26,
 'profession': 'developer',
 'city': 'Stockholm',
 'parents': {'father': {'name': 'John', 'age': 55},
  'mother': {'name': 'Anna', 'age': 50}},
 'hobbies:': ['programming', 'hiking', 'skiing']}

Fär att hämta information i en nested dictioanry så anger man key's efter varandra:

In [54]:
daniel['parents']['father']['name']

'John'

#### Dict Comprehension

In [3]:
# Lists to represent keys and values
keys = ['a','b','c','d','e']
values = [1,2,3,4,5]  

# but this line shows dict comprehension here  
myDict = { k:v for (k,v) in zip(keys, values)}
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

Loopa igenom dicts, ett exempel:

In [4]:
my_dict = {'filename_1': [['one', 'two'], ['three', 'four']],
           'filenmae_2': [['five', 'six'], ['seven', 'eight']]}

my_dict['filename_1']

for key in my_dict:
     for values in my_dict[key]:
        for value in values:
           print(value)

one
two
three
four
five
six
seven
eight

Lite olika sätt som man kan skapa dataframes från dictionaries:
- En del bra, en del dåliga

In [2]:
import pandas as pd

dict = {
    'Daniel': {'age': 30, 'phone': '123-456-7890'},
    'Emelie': {'age': 28, 'phone': '987-654-3210'},
    'Patrik': {'age': 40, 'phone': '555-555-5555'},
    }
df = pd.DataFrame([dict])
df

,Daniel,Emelie,Patrik
0,"{'age': 30, 'phone': '123-456-7890'}","{'age': 28, 'phone': '987-654-3210'}","{'age': 40, 'phone': '555-555-5555'}"

In [6]:
dict = {
    'Name': ['Daniel', 'Emelie', 'Patrik'],
    'Age': [30, 28, 40],
    'Phone': ['123-456-7890', '987-654-3210', '555-555-5555'],
    }
df = pd.DataFrame([dict])
df

,Name,Age,Phone
0,"[Daniel, Emelie, Patrik]","[30, 28, 40]","[123-456-7890, 987-654-3210, 555-555-5555]"

Nedan är som jag vill:
- key är kolumnens titel
- vlaues i en lista

In [5]:
dict = {
    'Name': ['Daniel', 'Emelie', 'Patrik'],
    'Age': [30, 28, 40],
    'Phone': ['123-456-7890', '987-654-3210', '555-555-5555'],
    }
df = pd.DataFrame(dict)
df

     Name  Age         Phone
0  Daniel   30  123-456-7890
1  Emelie   28  987-654-3210
2  Patrik   40  555-555-5555